name: Check Google Drive GEDCOM File for Updates and Process

on:
  schedule:
    # Runs every Sunday at 10:00 Israel time (07:00 UTC).
    - cron: '0 7 * * 0' 
  workflow_dispatch:
    inputs:
      person_id:
        description: 'GEDCOM ID of the person to calculate distances from'
        required: false
        type: string
      distance_threshold:
        description: 'Distance threshold for including path in issue (default: 8)'
        required: false
        type: number
        default: "8"
      lang:
        description: 'Language for the output (en/he)'
        required: false
        type: choice
        options:
        - he
        - en
        default: 'he'

permissions:
  contents: write
  issues: write

jobs:
  check_and_run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Python dependencies
        run: pip install google-api-python-client google-auth-httplib2 google-auth-oauthlib google-auth python-gedcom requests networkx

      - name: Install GitHub CLI
        run: sudo apt-get install gh -y

      - name: Debug - List Environment Variables
        run: env

      - name: Run tests
        run: python3 -m unittest discover tests

      - name: Run main processing script
        id: process_gedcom
        run: python main.py --lang ${{ github.event.inputs.lang || 'he' }}
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS_JSON }}
          PERSONID: ${{ github.event.inputs.person_id || secrets.PERSONID }}
          DISTANCE_THRESHOLD: ${{ github.event.inputs.distance_threshold }}

      - name: Create GitHub Issue for Upcoming Dates
        if: steps.process_gedcom.outputs.has_relevant_dates == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          ISSUE_TITLE: ${{ steps.process_gedcom.outputs.issue_title }}
          ISSUE_BODY: ${{ steps.process_gedcom.outputs.issue_body }}
        run: |
          echo "Relevant upcoming dates found. Creating GitHub Issue..."
          gh issue create --title "$ISSUE_TITLE" --repo ${{ github.repository }} --body "$ISSUE_BODY" --assignee "${{ github.actor }}" --label "family-dates"
